<div class="container-fluid mt-4" style="margin-left: 50px;">
  <div class="d-flex flex-column mb-3">
    <h6 style="font-size: 13px" class="text-dark-blue">RELATÓRIOS</h6>
    <h1 class="h4 fw-bold" class="text-primary">Relatórios</h1>
    <p class="text-muted mb-4" class="text-dark-blue">Preencha o filtro para realizar uma pesquisa.</p>
  </div>

  <div class="row mb-4 g-2">
    <div class="col-auto">
      <label for="rental-date" class="text-dark-blue">Data do aluguel</label>
      <div class="input-group">
        <input type="date" id="rental-date" class="form-control" style="max-width: 150px;">
      </div>
    </div>
    <div class="col-auto">
      <label for="car-model" class="text-dark-blue">Modelo do carro</label>
      <select id="car-model" class="form-select" style="max-width: 150px;">
        <option>Todos</option>
        <option>UNO</option>
        <option>PALIO</option>
        <option>GOL</option>
        <option>SIENA</option>
        <option>CELTA</option>
      </select>
    </div>
    <div class="col-auto d-flex align-items-end">
      <button class="btn btn-light-blue d-flex align-items-center justify-content-center" style="border-radius: 0;">
        <i class="bi bi-search me-2"></i> Buscar
      </button>
    </div>
  </div>

  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th>DATA</th>
        <th>MODELO</th>
        <th>KM</th>
        <th>CLIENTE</th>
        <th>TELEFONE</th>
        <th>DEVOLUÇÃO</th>
        <th>PAGO</th>
        <th>VALOR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <td>{{ rental.date }}</td>
        <td>{{ rental.model }}</td>
        <td>{{ rental.km | number}}</td>
        <td>{{ rental.client }}</td>
        <td>{{ rental.phone }}</td>
        <td>{{ rental.returnDate }}</td>
        <td>
          <span [ngClass]="rental.paid ? 'badge bg-success' : 'badge bg-danger'">
            {{ rental.paid ? 'SIM' : 'NÃO' }}
          </span>
        </td>
        <td>R$ {{ rental.value | number:'1.2-2' }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-end fw-bold">Soma de débitos:</td>
        <td class="fw-bold">R$ 200,00</td>
      </tr>
    </tfoot>
  </table>
</div>