<div class="success-notification" *ngIf="showSuccessMessage">
  <strong>Sucesso</strong><br>
  Arquivo processado com sucesso
</div>

<div class="report-container">
  <h6 class="text-dark-blue" style="font-size: 13px;">ALUGUEIS</h6>
  <h1 class="h4 fw-bold text-primary">Alugueis</h1>
  <p class="text-dark-blue">Preencha o filtro para realizar uma pesquisa.</p>

  <div class="upload-container mt-5">
    <h2 class="text-dark-blue">Upload de Arquivos</h2>
    <div class="d-flex align-items-center mb-3">
      <div class="file-upload flex-grow-1 me-3 position-relative">
        <input id="input-b3" #fileInput name="input-b3[]" type="file" class="file position-absolute w-100 h-100 opacity-0 cursor-pointer" 
          (change)="onFileSelected($event)">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-center flex-grow-1">
            <p class="text-dark-blue">Selecione ou arraste um arquivo <span class="text-red">*</span></p>
            <small class="text-muted">Tipo: RTN<br>O tamanho do arquivo não pode ser maior que 10MB.</small>
          </div>
          <button class="btn btn-outline-primary no-radius ms-3" (click)="fileInput.click()">Selecionar</button>
        </div>
      </div>
      <button class="btn btn-primary no-radius" (click)="processFile()">Processar arquivo</button>
    </div>
  </div>
</div>