.icon-upload {
  color: var(--primary-500) !important;
  font-size: 2rem;
}

.text-red {
  color: red;
}

.titulo {
  color: var(--primary-800);
  font-weight: bold;
}

.p-fluid {
  flex: 1;
}

.p-relative {
  position: relative !important;
}

.exceeded-progress-bar {
  background-color: red;
}
