<h1>Relatório</h1>
<div class="card">
  <h2>Upload de Arquivos</h2>
  <p-toast></p-toast>
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div style="flex: 0 0 70%">
      <p-fileUpload
        name="files[]"
        (onSelect)="onUpload($event)"
        [showUploadButton]="false"
        chooseLabel="Selecione arquivo"
        cancelLabel="Cancelar"
        accept=".rtn"
        [maxFileSize]="1000000"
        [auto]="false"
        [multiple]="false"
        [fileLimit]="1"
      />
    </div>
    <div style="flex: 0 0 auto; padding-left: 15px">
      <p-button
        icon="pi pi-check"
        label="Processar arquivo"
        (onClick)="processarArquivo()"
      />
    </div>
  </div>
</div>
